<phpunit colors="true" bootstrap="vendor/autoload.php">
<php>
<env name="DB_CONNCETION" value="mysql"/>
<env name="DB_HOST" value="127.0.0.1"/>
<env name="DB_PORT" value="3306"/>
<env name="DB_DATABASE" value="cuisine"/>
<env name="DB_USERNAME" value="root"/>
<env name="DB_PASSWORD" value="yohann"/>
</php>
<testsuites>
<testsuite name="Unit Test">
<directory>Test/Unit</directory>
</testsuite>
</testsuites>
</phpunit>