body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #444;
}
.recipe{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.recipe:hover {
    background-color: #45a049;
}